div {
  float: left;
  margin-right: 2px;
  vertical-align: bottom;
}

input, label {
  display: block;
  height: 1.1em;
}

br {clear: both;}
h1 {font-size: 18px;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#buttonParent {
  margin-left: 1px;
	height:50px; 
	width:220px;
}
/* Added CSS for addRec and loadData button*/

#addRec{
	height:50px;
	width: 100px;
}
#loadData{
	height:50px;
	width: 100px;
}